:root {
    /** Colors */
    --black: #00000000;
    --charleston-green-v1: #2D2D2D;
    --charleston-green-v2: #2B2B2B;
    --paolo-veronese-green: #009379;
    --pink-lace: #F9E6F0;
    --piggy-pink: #F6DCE9;
    --anti-flash-white: #F3F3F3;
    --white: #ffffff;
    --height-input: 69px;  

    /**/
    --color-menu-link: var(--charleston-green-v1);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Epilogue", sans-serif;
}
p {
    line-height: 1.4;
    font-size: 17px;
}

/** header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.container.logo-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: initial;
}
.avatar-name {
    padding-top: 15px;
    font-size: 17px;
    font-weight: 700;
}  
.name-designer{
    display: block;
    text-decoration: underline;
} 
.profession {
    padding: 5px 200px 0px 0px;
    font-size: 17px;
    font-weight: normal;
}
.biography {
    padding: 100px 100px 100px 0px;
}
.menu-item a {
    text-decoration: none;
    color: var( --white );
}
.menu-item a:hover {
    color: #747474;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.abrir-menu,
.cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
}

.abrir-menu {
    color: #000000;
}

.cerrar-menu {
    color: var(--white);
}

.nav.visible{
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    font-size: 25px;
    padding: 3rem;
    box-shadow: 0 0 0 300vmax #00000080;
}
li.menu-item {
    padding-bottom: 2rem;
}
.nav.visible {
    opacity: 1;
    visibility: visible;
}

.main-menu {
    list-style-type: none;
}
.nav{
    display: none;
}
img.avatar-image {
    padding-top: 100px;
}
@media screen and (min-width: 550px) {
    .nav{
        display: block;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
    }
    .profession {      
        padding: 5px 0px 0px 0px;
    }
    .biography {
        padding: 0px 100px 80px 0px;
    }
    .main-menu {
        list-style-type: none;
        display: flex;
        gap: 5rem;
        flex-direction: row;
    }
    
    .main-menu li a {
        text-decoration: none;
        color:var(--color-menu-link)
    }
    .nav.visible{
        display: none;
    }
    .abrir-menu,
    .cerrar-menu {
        display: none;
    }
    .nav-list li a {
        color: var(--black)
    }
    li.menu-item {
        padding-bottom: 0rem;
    }
    img.avatar-image {
        padding-top: 0;
    }
}
/** Main: Section Bio */
.bio{
    background-color: var(--piggy-pink);
}
.paragraf *:nth-child(1),
.paragraf *:nth-child(3) {
    background-color: var( --paolo-veronese-green);
    color: var(--white);
    font-weight: 500;
    padding: .5rem 0;
}
.container.his-content {
    font-size: 16px;
    display: flex;
    flex-direction: column;
}
.history {
    font-size: 24px;
    font-weight: 500;
    padding: 100px 100px 50px 0px;
}
.linea {
    border-bottom: solid;
    margin: 90px;
}

/** footer*/

.form-contact textarea,
.form-contact input{
    background-color: var(--anti-flash-white);
    border: 0px;
}
.container-from {
    padding-bottom: 60px
}
.form-input{
    width: 100%;
    height: var(--height-input);
    outline:none; 
    border: none;
    resize: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 17px;
    text-transform: capitalize;
    padding: 25px;
}
textarea.form-input{
    height: calc( var(--height-input) * 3); 
}
input::placeholder,
textarea::placeholder {
    font-size: 17px;
    color: var(--charleston-green-v1);  
  }
.btn {
    border: none;
    width: 235px;
    height: 80px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.3s, color 0.3s; 
    border-radius: 5px;
}
.btn--bg-black:hover {
    background-color: #fff; 
    color: #000000; 
    border: 1px solid #000; 
}
.btn--bg-black{
    background-color:black;
    color: white; 
}
p.description-work {
    padding: 30px 0px;
}
.lets-work h2{
    font-size: 32px;
    padding-right: 100px;
}
.work {
    display: flex;
}
ul.social-media{
    list-style: none;
    display: flex;
    gap: 2rem;
    padding-bottom: 70px;
}

@media  ( min-width: 768px ) {
    .bio-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        width: 60%;
        padding: 12rem 0;
    }
    .historia{
        width: 70%;
        padding: 5rem 0; 
        font-size: 24px;
        margin: 0px 150px;

    }
    .paragraf{
        width: 70%;
        font-size: 24px;
        margin: 0px 150px;
        padding-bottom: 5.8rem;
    }
    .his-unicorn{
        gap: 2rem;
        width: 70%;
        padding: 7rem 0; 
        font-size: 24px;  
    }
    .history {
        padding: 0px;
    }
    .content {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    footer.footer {
        padding-top: 24px;
    }    
    .lets-work,
    .form {
        flex-basis: 50%;
    }
    p.description-work {
        padding: 50px 150px 0px 98px;
    }
    .lets-work h2 {
        padding-left: 100px;
    }
    .images-contact{
        padding: 50px 0px 0px 98px;
    }
}
