* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Epilogue", sans-serif;
}
/** header */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 26px auto;
}
.header{
    background-color: aqua;
}
.logo {
    font-size: 20px;
    font-weight: 600;
}
nav.navbar {
    display: none;
}
ul.main-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
main.main {
    background-color: #F9E6F0;
}

@media ( min-width: 768px ) {
    .hamburger-icon {
        display: none;
    }
    nav.navbar {
        display: block;
    }
    
}
