.description::after{
    content: "";
    display: block;
    width: 50%; 
    height: .5rem;
    background: #000000; 
    margin: 4rem auto; 
    border-radius: 1rem; 
}

.avatar-name {
    padding-top: 1.5rem;
    font-size: 1.7rem;
    font-weight: 700;
}
.avatar-image {
    padding-top: 10rem;
}
.name-designer{
    display: block;
    text-decoration: underline;
} 
.profession {
    padding: .5rem 20rem 0 0;
    font-size: 1.7rem;
    font-weight: normal;
}
.biography {
    padding: 10rem 10rem 10rem 0;
}
.bio{
    background-color: var(--piggy-pink);
}