.container {
    width: 90%;
    margin: 0 auto;
}
.container.logo-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-from {
    padding: 9.28rem 0 1.5rem 0;
}