.btn {
    border: none;
    width: 23.5rem;
    height: 8rem;
    cursor: pointer;
    border: .1rem solid transparent;
    transition: background-color 0.3s, color 0.3s; 
    border-radius: 8px;
}
.btn--bg-black:hover {
    background-color: #fff; 
    color: #000000; 
    border: 1px solid #000; 
}
.btn--bg-black{
    background-color:black;
    color: white;
    transition: 1s;
}
